name: GitHub Actions Demo
on:
  workflow_dispatch:
    inputs:
      failstep:
        description: "Fail step in job1(yes/no)"
        required: true
        default: 'no'

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code if it is running on master branch\
        if: ${{github.ref=='refs/head/main'}}
        uses: actions/checkout@v2
      - name: if input is passed as yes
        if: github.event.inputs.failstep =='yes'
        run: echo "Value passed from the work flow is yes"
      - name: if input is passed as yes
        if: github.event.inputs.failstep =='no'
        run: echo "Value passed from the work flow is no"
      - name: step to make the failure
        env:
         failure_step : ${{github.event.inputs.failstep =='yes'}}
        run : | 
          echo "This statement runs whether step exit 0 or 1"
          if [[$failure_step==true]]
          then
            exit 1
          fi 

      - name: Step in workflow
        run: echo " another step in work flow"
      - name : Sucess step
        if: success()
        run: echo " runs when it succeed"
      - name: Runs always  
        if: always()
        run: echo " it runs always"
      - name: Step in workflow
        run: echo " another step in work flow"
      - name: Runs always  
        if: failure()
        run: echo " it runs always"
  second-job:
    runs-on: ubuntu-latest
    needs: first-job
    steps:
      - name: FIRST STEP IN SECOND job
        run: echo "this the first step in the second job runs on ${{runner.os}} and triggered by ${{github.event_name}}"



